<h1> <%= @attraction.name %> </h1>

<h2> Nausea: <%= @attraction.nausea_rating %> </h2>

<h2> Happiness: <%= @attraction.happiness_rating %> </h2>

<h2> Tickets: <%= @attraction.tickets %> </h2>

<% if  @user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% else %>
  <%= form_for @ride do |f| %>
    <%= f.hidden_field :attraction_id, value: @attraction.id %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit "Go on this ride" %>
  <% end %>
<% end %>
